:root {
    --border__color: #828282;
    --additional-text__color: #9E9E9E;
    --time__background_color: #D9E8FF;
    --time__background_color_active: #6BA6FF;
    --button__background_color: #FED74B;
    --button__border_color: #CBA500;

    --card__border_radius: 16px;
    --button__border_radius: 20px;
}

body {
    margin-top: 50px;
    padding: 17px;
}

.custom-card {
    border-radius: var(--card__border_radius);
    border: 0.3px solid var(--border__color);
    font-family: "Open Sans";
}

.custom-card__img {
    padding: 0;
}

.custom-card__img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-height: 220px;
    max-height: 470px;
    border-radius: var(--card__border_radius) var(--card__border_radius) 0 0;
}

.custom-card__body {
    padding: 12px;
}

.custom-card__duration {
    color: var(--additional-text__color);
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    padding-left: 16px;
    margin: 10px 0 10px 12px;
    position: relative;
}

.custom-card__duration::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(img/clock.svg);
    position: absolute;
    left: -9px;
    top: 2px;
}

.custom-card__heading {
    font-weight: 600;
    font-size: 14px;
    line-height: 131%;
    color: #404040;
}

.custom-card__list {
    list-style: none;
}

.custom-card__list_item {
    color: #4B4B4B;
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 111%;
    margin: 10px 0;
}

.custom-card__list_item::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url(img/check-mark.svg);
    width: 16px;
    height: 16px;
    top: 3px;
    left: -30px;
}

.custom-card__departures {
    display: flex;
    margin-top: 10px;
    padding-left: 0;
    flex-wrap: wrap;
}

.custom-card__departures_heading {
    padding-left: 0;
}

.custom-card__departures_time {
    padding: 2px 10px;
    margin: 4px 4px;
    border-radius: 11px;
    background-color: var(--time__background_color);
    cursor: pointer;
}

.custom-card__departures_time:active, 
.custom-card__departures_time:hover {
    background-color: var(--time__background_color_active);
    color: white;
}

.custom-card__footer {
    display: flex;
    justify-content: space-between;
    max-width: 330px;
    margin-top: 35px;
}

.custom-card__price {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.custom-card__price_online {
    font-weight: 400;
    font-size: 30px;
    line-height: 20px;
    position: relative;
}

.custom-card__price_online::after {
    content: "";
    display: block;
    width: 19px;
    height: 23px;
    position: absolute;
    top: 0;
    left: 55px;
    background-image: url(img/ruble.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.custom-card__price_offline {
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    margin-top: 2px;
}

.custom-card__button {
    background-color: var(--button__background_color);
    border: 0.5px solid var(--button__border_color);
    border-radius: var(--button__border_radius);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 12px 45px;
}

@media (min-width: 575px) {
    .custom-card__img img {
        border-radius: var(--card__border_radius) 0 0 var(--card__border_radius);
    }

    .custom-card__heading {
        font-size: calc(14px + 12 * (100vw/1440));
    }

    .custom-card__list_item {
        font-size: calc(14px + 4 * (100vw/1440));
        margin: 11px 0;
    }

    .custom-card__departures {
        margin-top: 0;
    }

    .custom-card__departures_time {
        padding: 5px 15px;
    }

    .custom-card__price_online {
        font-size: 36px;
        font-size: calc(30px + 6 * (100vw/1440));
    }

    .custom-card__price_online::after {
        left: 65px;
        height: 26px;
    }

    .custom-card__price_offline {
        font-size: calc(10px + 4 * (100vw/1440));
        margin-top: 10px;
    }

    .custom-card__button {
        font-size: calc(14px + 4 * (100vw/1440));
    }
}